.dropzone{
  height: 300px;
  background-color: #ccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.allergiesList{
  height: 300px;
  background-color: #ccc;
}

span {
  float: right;
}
